<p-toast></p-toast>
<form [formGroup]="formData" (ngSubmit)="handleSubmit()">
  <p-table
    #tbl
    [value]="$any(formData.get('products')).controls"
    dataKey="id"
    editMode="row"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 20%">Code</th>
        <th style="width: 20%">Name</th>
        <th style="width: 20%">Inventory Status</th>
        <th style="width: 20%">Price</th>
        <th style="width: 20%"></th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-product
      let-editing="editing"
      let-ri="rowIndex"
    >
      <ng-container formArrayName="products">
        <tr [pEditableRow]="product" formGroupName="{{ ri }}">
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" formControlName="code" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.get("code").value }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" formControlName="name" required />
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.get("name").value }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown
                  [options]="statuses"
                  appendTo="body"
                  formControlName="inventoryStatus"
                  [style]="{ width: '100%' }"
                ></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.get("inventoryStatus").value }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" formControlName="price" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.get("price").value | currency : "USD" }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <div class="flex align-items-center justify-content-center gap-2">
              <button
                *ngIf="!editing"
                pButton
                pRipple
                type="button"
                pInitEditableRow
                icon="pi pi-pencil"
                (click)="onRowEditInit(product)"
                class="p-button-rounded p-button-text"
              ></button>
              <button
                *ngIf="editing"
                pButton
                pRipple
                type="button"
                pSaveEditableRow
                icon="pi pi-check"
                (click)="onRowEditSave(product)"
                class="p-button-rounded p-button-text p-button-success mr-2"
              ></button>
              <button
                *ngIf="editing"
                pButton
                pRipple
                type="button"
                pCancelEditableRow
                icon="pi pi-times"
                (click)="onRowEditCancel(product, ri)"
                class="p-button-rounded p-button-text p-button-danger"
              ></button>
            </div>
          </td>
        </tr>
      </ng-container>
    </ng-template>
  </p-table>
  <button
    pButton
    type="button"
    icon="pi pi-plus"
    label="New product"
    class="p-button-primary mt-4"
    (click)="addProduct(undefined, true)"
  ></button>
  <button
    pButton
    type="submit"
    icon="pi pi-info"
    label="Log data"
    class="p-button-help mt-4 ml-4"
  ></button>
</form>
